@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --background: 'white';
  --foreground: '#323437'
}


[data-theme='dark'] {
  --background: #323437;
  --foreground: 'white'
}

:root {
  --primary: #323437;
  --accent: #f9a826;
  --secondary: rgb(107, 114, 128);
}
