@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f9a826;
  --background: #323437;
  --accent: #f9a826;
  --secondary: rgb(107, 114, 128);
  /* Add more colors here */
}

body {
  color: white;
}
